<app-menu-superior></app-menu-superior>
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{title}}</h1>
    <a class="btn btn-primary" [routerLink]="['/edificio/novo']" >Nova Edificio</a>
    <br /><br />
     <table class="table table-striped" *ngIf="edificios != null && edificios.length>0">
      <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      <tbody>
        <tr *ngFor='let item of edificios'>
            <td width="75%">{{item.nome}}</td>
            <td width="15%">{{item.cnpj}}</td>
            <td width="5%"><a [routerLink]="['/edificio/editar/' + item.id]" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            <td width="5%"><a [routerLink]="['/empresa/editar/' + item.id]" class="btn btn-primary">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
